.learnMore{
	display: flex;
	min-height: 100vh;
}

.learnMore_content{
	padding-top: var(--m-top);
	/*width: 70%;*/
	flex:3 3;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.learnMore_content-item:first-child{
	margin-left:calc(100vw / 6 + 15px);
}

.learnMore_content-item:first-child h2{
	margin-top: 20px;
}

.learnMore_content-item:first-child > .small-text{
	width: calc(100vw / 6 * 2);
	 margin: calc(var(--m-left) * 2) 0 calc(var(--m-left) * 3) 0;
}


.learnMore_content-item:nth-child(2){
	background: var(--black-background);
	margin-left:;
	padding: calc(var(--m-left) * 3) 0 calc(var(--m-left) * 3) calc(100vw / 6 + 15px);
	border-bottom: 1px solid var(--gray);
}

.learnMore_content-item:nth-child(2) h3 {
	width: calc(100vw / 6 * 2);

}

.learnMore_content-item:nth-child(2) .side-wall{
	margin-right: 50px;
}

.learnMore_content-item:last-child{
	background: var(--black-background);
	padding: calc(var(--m-left) * 2) var(--m-left);
}

.learnMore_content-item:last-child .scrolling h3{
	color: var(	--light-gray);
}

.learnMore_picture{
	flex:2 0;
	overflow: hidden;
}

.learnMore_picture-background{
	width: 100%;
	height: 100%;
	background: url(../img/aboutUs/image4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}



section.mission{
	padding:calc(var(--m-left) * 3) 0;
}

.mission h2{
	text-align: center;
	color: var(--black-footer);
}


.mission_container-item{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.mission_container-item:first-child{
	border-bottom: 1px solid var(--white-border);
}

.mission_container-item > div{
	margin: var(--m-left) var(--m-left) calc(var(--m-left) + 10px) var(--m-left);
	border-bottom: var(--m-left) solid var(--white);
}

.mission_container-item:last-child > div{
	margin-bottom: 0;
}

.mission_container-item > div h3{
	margin: calc(var(--m-left) + 10px) 0 calc(var(--m-left) / 2) 0;
	color: var(--black-text);
}


section.founder{
	display: flex;
	justify-content: center;
	padding: calc(var(--m-left) * 3) 0;
	background: var(--black-background);
}

.founder_content-headline{
	display: flex;
	justify-content: flex-start;
}



.founder_picture{
	flex: 2;
	margin:0 calc(var(--m-left) * 4);
}

.founder_picture-item {
    width: 100%;
    height: 100%;
    background: url(../img/aboutUs/image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.founder_content{
	flex: 3;
	padding-right: calc(100vw / 6 );
}

.founder_content .vert-hr{
	width: 40%;
	margin-left: 0;
}

.founder_content-overhead{
	display: flex;
	align-items: center;
	margin: calc(var(--m-left) * 2) 0 var(--m-left) 0;
}

.founder_content-overhead .overhead{
	margin-left: 20px;
	color: var(--white);
}

.founder_content-text{
	padding: calc(var(--m-left) * 2) 0;
}

.founder_content-text .small-text{
	color: var(--white);
	opacity: 0.7;
}

.founder_content-text .small-text:first-child{
	margin-bottom: 30px;
}




.history_header, .history_footer{
	width: 100%;
	padding: calc(var(--m-left) * 3) 0;
	background: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
}

.history_calendar{
	display: grid;
	grid-template-columns: 2fr 1fr 3fr;
	padding: var(--m-left) 0;
}

.history_calendar h3.date_year{
	color: var(--black-background);
}

.history_calendar-dates{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	padding-right: calc(var(--m-left) / 2 );
}

.history_calendar-dates .date{
	display: flex;
	align-items: center;
	position: relative;
}

.history_calendar-dates .date_strip {
    width: 70px;
    height: 1px;
    background: var(--black-background);
    margin-right: 5px;
}

.date-active .date_border {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: var(--white-background);
}


.date-active h3.date_year{
	color: var(--orange);
}

.history_calendar-navigation .arrow{
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vw / 6 - 5vw);
	cursor: pointer;
}

.history_calendar-navigation .arrow:first-child{
	transform: rotate(180deg);
	border-top: 1px solid var(--white-border);
}

.history_calendar-events{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.history_calendar-events .event{
	display: none;
    flex-direction: column;
    justify-content: center;
    border-left: calc((var(--m-left) / 2) + 5px) solid var(--white);
	margin-left: calc(var(--m-left) / 2);
	padding: var(--m-left);
	padding-left: var(--m-left);
}

.history_calendar-events .event-active{
	display: flex;
}

.history_calendar-events h3{
	margin-bottom: calc(var(--m-left));
    width: 60%;
    color: var(--black-background);
}

.history_calendar-events .small-text{
    width: 45%;
}


.date-active h3{
	font-size: 150px;
	color: var(--orange);
	line-height: 165px;
}

.date-active .date_strip{
	display: none;
} 


@media screen and (max-width: 1300px){
	.date-active h3 {
	    font-size: 130px;
	    line-height: 130px;
	}

	.date-active .date_border {
	    height: 40px;
	}

	.history_calendar-navigation .arrow{
		height: calc(100vw / 6 - 4vw);
	}

	.history_calendar-navigation .arrow img{
		width: 15px;
	}

}

@media screen and (max-width: 1200px){
	.history_calendar-events h3{
		width: 70%;
	}

	.history_calendar-events .small-text{
	    width: 60%;
	}

}



@media screen and (max-width: 1100px){
	.date-active h3 {
	    font-size: 120px;
	    line-height: 120px;
	}

	.founder_picture{
		flex: 3;
	}

	.founder_content {
	    padding-right: var(--m-left);
	}
}


@media screen and (max-width: 950px){
	.date-active h3 {
	    font-size: 110px;
	    line-height: 110px;
	}

	.date-active .date_border {
	    height: 35px;
	}

	.history_calendar-events h3{
		width: 85%;
	}

	.history_calendar-events .small-text{
	    width: 80%;
	}

	.history_calendar-dates{
		padding-right: var(--m-left);
	}
	.history_calendar-events .event {
		margin-left: var(--m-left);

	}
}
