.popUp{
	position: fixed;
	z-index: 900;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.popUp .design_stripes_inBlok{
	z-index: -100;
	background: var(--black-background);
}

.popUp_close{
	position: absolute;
	top: var(--heedar-m-top);
	right: var(--m-right);
}

.popUp_close .reception_logo{
	margin-right: 0;
}

.popUp_close .reception_logo img {
    width: 10px;
}

.popUp_header{
	margin-bottom: 15px;
}

.popUp_header h2{
	color: var(--white);
}

.popUp .footer_support-form{
	padding: 0;
	border: none;
	background: none;
}

.popUp .form {
    grid-template-columns: calc(100vw / 6 + 7vw) calc(100vw / 6 + 7vw);
}

.popUp .form_item input{
	padding: 12px 5px 12px 15px;
}

.popUp .form_item:nth-child(4){
	margin-top: 30px;
	flex-direction: column;
	justify-content: flex-start;
    align-items: stretch;
    padding-left: 15px;
    overflow: hidden;
}



.popUp .form_item:nth-child(4) p{
	margin-bottom: 5px;
	    color: var(--light-gray);
}

.popUp .form_item:nth-child(4) input{
	position: relative;
	/*color: var(--transperent-text);*/
}

.popUp .form_item:nth-child(4) input::-webkit-calendar-picker-indicator {
  	width: 15px;
	height: 16px;
	background-image: url(../img/calendar.svg);
	background-size: 100%;
	position: absolute;
	right: 10px;
}


/*.popUp .form_item:nth-child(4) input:before{
	content: 'DATUM';
	position: absolute;
	height: 100%;
	width: 60%;
	display: flex;
	align-items: center;
	color: var(--light-gray);
}
*/

.popUp .form_item:nth-child(4) .addInfo{
	margin-top: 5px;
	flex-direction: row;
	justify-content: flex-end;
}

.popUp .form_item:nth-child(4) .addInfo-image{
	margin-bottom: 0;
	margin-left: 10px;
    transform: rotate(-90deg);
}

.popUp .form_item:nth-child(4) .addInfo-image img{
	width: 13px;
}

.popUp_footer h3{
    text-align: end;
    color: var(--light-gray);
    text-transform: uppercase;
}


.popUp_footer h3:first-child{
    margin-top: 30px;
    margin-bottom: 15px;
}


.popUp_thanks {
	display: flex;
    flex-direction: column;
    align-items: center;
}
.popUp_thanks h2{
    text-align: center;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popUp_thanks p{
	padding:0 20px;
	display: flex;
    justify-content: center;
        margin-bottom: 10px;
}

.popUp_thanks .addInfo{
	margin-top: 80px;
	    display: flex;
    flex-direction: column;
    align-items: center;
}

.popUp_thanks .addInfo-image{
	transform: rotate(-90deg);

}
.popUp_thanks .addInfo-image img {
    width: 15px;
}

.popUp_thanks h3{
	margin-top: 15px;
}



@media screen and (max-width: 1400px){
	.popUp .form {
	    grid-template-columns: calc(100vw / 6 + 10vw) calc(100vw / 6 + 10vw);
	}
}


@media screen and (max-width: 1000px){
	.popUp .form {
	    grid-template-columns: calc(100vw / 6 + 20vw) calc(100vw / 6 + 20vw);
	}
}


