

#portfolio .jobs_header{
	border-bottom: none;
}

#portfolio .portfolio_content{
	position: relative;
	padding-right: 20px;
}

.portfolio_content-number{
	text-align: right;
	/*top: -70px;
	right: 0;*/
}



#portfolio .jobs_header p.small-text{
	margin-top: 20px;
	width: calc(100vw / 6 * 2 - 20px);
	line-height: 20px;
}

#portfolio .jobs_content{
	grid-template-columns:1fr;
}

#portfolio  .jobs_content-item{
	display: grid;
	grid-template-columns: 2fr 3fr;
	background: var(--background-form-input);
    margin-bottom:var(--m-left);
    margin-right: var(--m-right);
    padding: 0;

}

.portfolio_content{
	padding-left: 20px;
}

#portfolio .jobs_content-item h3{
	color: var(--black-text);
}

#portfolio  .jobs_content-item .portfolio_content{
	display: flex;
	align-items: flex-end;
}

#portfolio  .jobs_content-item .portfolio_content  .jobs_cart{
	position: relative;
	flex: 1;
}


#portfolio .jobs_cart-item p:first-child{
	 flex: 5 5;
}

#portfolio .jobs_cart-item p:last-child {
    flex: 6 5;
    line-height: 20px;
	color: var(--black-background);
}

#portfolio .portfolio_slider{
	overflow: hidden;
	margin-left: 20px;
	display: flex;
	align-items: flex-end;
}

.portfolio_slider .owl-carousel{
	display: flex;
	flex-wrap: wrap;
}

.portfolio_slider .owl-nav,  .portfolio_slider .owl-dots {
	display: inline-block;
	background: var(--white);
	border-top:  1px solid var(--white-border);
}

.portfolio_slider .owl-nav{
	flex: 1;
	margin-left: 1px;
}

.portfolio_slider .owl-nav .owl-prev , .portfolio_slider .owl-nav .owl-next{
	outline: none;
	
}

.portfolio_slider .owl-nav .owl-prev {
	transform: rotate(90deg);
	border-top: 1px solid var(--white-border)!important;
}

.portfolio_slider .owl-nav .owl-next {
	transform: rotate(-90deg);
	border-bottom: 1px solid var(--white-border)!important;
}

.portfolio_slider .owl-nav button  div{
	margin: 10px;
	width: calc((var(--m-left) / 3) * 4);
	height: calc((var(--m-left) / 3) * 4);
	border-radius: 50%;
	background: var(--light-gray);
	display: flex;
	justify-content: center;
	align-items: center;
}

.portfolio_slider .owl-nav button  div img{
	width: calc(var(--m-left) / 3) ;
}


.portfolio_slider .owl-dots{
	flex:2;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 15px;
}

.portfolio_slider .owl-dots button{
	display: inline-block;
	width: var(--m-left);
	height: var(--m-left);
	margin-left: 15px;
	background: #f2f2f2;
	outline: none;
}

.portfolio_slider .owl-dots button.active{
	background: var(--orange);
}


@media screen and (max-width: 1100px){
	#portfolio .jobs_content-item {
	    grid-template-columns: 3fr 3fr;
	}
}