section.heatingSystems{
	padding: var(--m-top) var(--m-right)  calc((var(--m-right) / 3) * 4) calc(100% / 6 + 20px);
}

.heatingSystems_header{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}


.heatingSystems_picture{
	width: 100%;
	padding-top: calc(var(--m-left) + 5px);
}

.heatingSystems_picture img{
	width: 100%;
	box-shadow: 15px 15px 25px -8px rgba(34, 60, 80, 0.2);
}

.heatingSystems_footer{
	padding-top: calc(var(--m-left) + 20px);
}


.generalPlanning{
	background: var(--black-background);
	padding: calc(var(--m-left) + 20px) var(--m-left);
	color: var(--light-gray)
}

.generalPlanning_header{
	text-align: center;
}

.generalPlanning_header .small-text{
	margin:  calc(var(--m-left) / 3) 0 calc(var(--m-left) + 10px) 0;
}

.generalPlanning_container{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows:  repeat(2,1fr);
	grid-gap: calc(var(--m-left) / 2);
}

.generalPlanning_container-item {
    position: relative;
    background: var(--black-card);
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
	padding: calc(var(--m-left) / 2);
    padding-bottom: 0;
}

.generalPlanning_container-item img{
	width: 40%;
    margin: 0 auto;
}

.generalPlanning_container-item h3{
	margin: calc(var(--m-left) / 2) 0;
	text-align: center;
	color: var(--white);
	text-align: center;
}


.generalPlanning_container-item .number{
	position: absolute;
	top:  calc(var(--m-left) / 2 );
	right:  calc(var(--m-left) / 2);
}


.generalPlanning_container-item .truncated_number-number{
	font-size:  70px;
	color: var(--white);
}

.generalPlanning_container-item .truncated_number-clipping{
	height: 30px;
	background: var(--black-card);
}



.standards h2{
	text-align: center;
	margin-top: calc(var(--m-left) * 2);;
}

.standards_container{
/*	display: grid;
	grid-template-columns: repeat(2,1fr);*/
	display: flex;
	flex-wrap: wrap;
	margin: var(--m-left) 5%;
	background: var(--white);
}

.standards_container-item{
	flex: 1 3;
	min-width: 40%;
}

.standards_container-item:first-child, .standards_container-item:nth-child(2){
	border-bottom: 1px solid var(--light-gray);
}

.standards_container-item:first-child{
	padding: var(--m-left)  calc(var(--m-left) * 2) calc(var(--m-left) * 4) calc(var(--m-left) / 2) ;
}

.standards_container-item:nth-child(2){
	padding:  var(--m-left)   calc(var(--m-left) / 2)  calc(var(--m-left) * 4)  calc(var(--m-left) * 2) ;
	
}

.standards_container-item:nth-child(3) , .standards_container-item:last-child{
	padding: var(--m-left) calc(var(--m-left) + 10px);
}

.standards_container-item:nth-child(3){
	flex: 1 0;
	padding-right: 0;
	min-width: 50%;
}

.standards_container-item:last-child{
	padding-left: 0;
}


.standards_container-item:first-child h3 {
    border-bottom: calc(var(--m-left) / 2) solid var(--white-background);
    padding-bottom: calc(var(--m-left) / 2);
}

.standards_container-item .addInfo{
	display: flex;
	align-items: center;
}

.standards_container-item:last-child .addInfo{
	justify-content: flex-end;
}

.standards_container-item .addInfo h3{
	margin-right: calc((var(--m-left) / 3) * 2 );
}



@media screen and (min-width: 1920px){
	.generalPlanning_container-item .truncated_number-number {
    	font-size: 70px;
   		line-height: 65px;
 	}

	.generalPlanning_container-item .truncated_number-clipping {
	    height: 20px;
	}
}


@media screen and (max-width: 1920px){
	.generalPlanning_container-item .truncated_number-number {
    	font-size: 70px;
   		line-height: 65px;
 	}

	.generalPlanning_container-item .truncated_number-clipping {
	    height: 20px;
	}
}


@media screen and (max-width: 1600px){
	.generalPlanning_container-item .truncated_number-number {
    	font-size: 65px;
   		line-height: 60px;
 	}

	.generalPlanning_container-item .truncated_number-clipping {
	    height: 16px;
	}

}


@media screen and (max-width: 1400px){
	.generalPlanning_container-item .truncated_number-number {
    	font-size: 60px;
   		line-height: 55px;
 	}



}


@media screen and (max-width: 1300px){
	.generalPlanning_container-item .truncated_number-number {
    	font-size: 50px;
   		line-height: 45px;
 	}

 	.generalPlanning_container-item .truncated_number-clipping {
	    height: 14px;
	}

}


@media screen and (max-width: 1100px){
	.generalPlanning_container-item .truncated_number-number {
    	font-size: 40px;
   		line-height: 35px;
 	}

 	.generalPlanning_container-item .truncated_number-clipping {
	    height: 10px;
	}

}


@media screen and (max-width: 950px){
	.generalPlanning_container-item .truncated_number-number {
    	font-size: 35px;
   		line-height: 30px;
 	}

}


@media screen and (max-width: 850px){
	.standards_container {
	    margin: var(--m-left) 2%;
	}
	.standards_container-item:nth-child(3){
		padding-left: calc(var(--m-left) / 2);
	}

	.standards_container-item:last-child{
		padding-right: calc(var(--m-left) / 2);
	}
}