.anchor {
	position: fixed;
	transform: rotate(90deg);
	top: 50vh;
	left: -5vw;
	z-index: 800;
}

.anchor a{
	display: flex;
	align-items: center;
}

.anchor p{
	text-transform: uppercase;
	margin-right: .5vw;
}

section.home{
	position: relative;
	z-index: 300;
}

.home_slider-slide{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.home_slide-content{
	padding: calc(var(--indent) * 6) 0 0 calc(var(--indent) * 5);
}

.home_slide-picture{
	padding: calc(var(--indent) * 6) calc(var(--indent) * 2)  0  calc(var(--indent) * 2);
	display: flex;
	justify-content: flex-start;
}

.home_slide-picture div{
	position: relative;
	display: flex;
	justify-content: center;
	top: -8vw;
}

.home_slide-picture img{
	position: absolute;
	bottom: 0;
}

.home_slide-picture img:first-child {
	width: 40vw;
	position: relative;
}

.home_slide-picture img:last-child {
	bottom: 5vw;
	left: 10vw;
}

.home_slide-button{
	grid-column-start: 1;
	grid-column-end: 3;
	display: flex;
	justify-content: center;
}

.home_navigation-next{
	transform: rotate(-90deg) translateY(1vw);
	/*margin-left: 2vw;*/
}

.home_navigation-prev{
	transform: rotate(90deg) translateY(calc((var(--min_figure) * -1) - 1vw));
	/*margin-left: 3vw;*/

}

.home_navigation {
	position: absolute;
	z-index: 500;
	top: 52vh;
	right: -10vw;
	transform: rotate(90deg);
}

.home_navigation-container{
	position: relative;
	display: flex;
	align-items: center;
}

.home_progressbar-container{
	position: relative;
	width: 35vh;
	margin: 0 1vw;
}


.home_navigation .swiper-pagination-progressbar:before, 
.home_navigation .swiper-pagination-progressbar:after{
	content: "";
	width: 3px;
	height: 30px;
	background: var(--white);
	display: block;
	position: absolute;
	left: -3px;
	top: -12px;
}

.home_navigation .swiper-pagination-progressbar:after{
	right: -3px;
	left: auto;
}

.home_navigation .swiper-pagination-progressbar {
	background: rgba(0,0,0,.25);
	position: absolute;
	width: 100%;
	height: 2px;
	right: 0;
	top: 0;
}



.swiper-pagination-progressbar-fill{
	background: var(--white)!important;
}



.home_navigation-buttons{
	display: flex;
}

.home_fraction{
	font-size: calc(var(--h3));
	color: var(--white);
	font-weight: 400;
	transform: rotate(-90deg);
	position: relative;
	bottom: -5px;
}

.home_fraction:before{
	content: '0';
}

/*---------------------------*/

.productsentiert{
	padding: 0 calc(var(--indent) * 1);
	text-align: center;
	margin-top: calc(var(--indent) * 4) ;
	position: relative;
	z-index: 200;
}

.productsentiert_container{
	display: flex;
	justify-content: space-around;

}

.productsentiert_container-item{
	position: relative;
	flex:1;
}

.productsentiert_container-item:before{
	content: "";
	position: absolute;
	right: 0;
	height: 100%;
	width: 1px;
	background-image: url(../../img/home/productorientiert_border.png);
}

.productsentiert_container-item:last-child:before{
	display: none;
}

.productsentiert_picture{
	position: relative;
}

.productsentiert_picture:before {
	content: "";
	position: absolute;
	background-image: url(../../img/home/productorientiert_line.png);
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	left: 0;
	background-size: 80%;
}

/*.productsentiert_picture img{
	width: 70%;
	}*/

	/*----------------------------*/

	.zustandsorientiert h2{
		text-align: center;
		margin: calc(var(--indent) * 5) 0 calc(var(--indent) * 5) 0;
		position: relative;
		z-index: 200;
	}

	.zustandsorientiert_slider-item{
		margin-right: 1vw;
		text-align: center;
	}

	.zustandsorientiert_slider-item img{
		border-radius: 35%;
	}

	/*----------------------------*/
	.el_blog h2{
		margin: calc(var(--indent) * 5) 0 calc(var(--indent) * 3) 0;

	}

	.el_blog_slider-item{
		margin-right: 1.5vw;
		text-align: center;
		position: relative;
	}

	.el_blog_slider-item > a{
		display: block;
	}

	.el_blog_slider-item img {
		border-radius: 7vw;
	}

	.el_blog_slider-item h4{
		margin-bottom: 10px;
	}

	.el_blog_slider-item p{
		margin-top: 0;
	}

	.el_blog_slider-item .blog_button {
		width: 100%;
		text-align: center;
		top: 0;
		margin: 0 auto;
		margin-bottom: -45px;
		position: relative;
		width: auto;
		display: flex;
		justify-content: center;
	}

	.el_blog_slider-item .blog_button > a {
		background: var(--white);
		padding: 1vw;
		border-radius: 2vw;
		display: block;
		font-weight: 900;
		color: var(--text_black)
	}


	.el_blog_slider-item .blog_arrow{
		width: 2vw!important;
		margin: 0 auto;
		margin-top: 2vw;
	}
	/*----------------------------*/

	section.testimonials h2{
		margin: calc(var(--indent) * 5) 0 calc(var(--indent) * 4) 0;
	}

	.testimonials_container{
		position: relative;
	}

	.testimonials_container-line{
		position: absolute;
		z-index: 100;
		background: #506480;
		opacity: 0.3;
		backdrop-filter: blur(4px);
		width: 100%;
		height: 80%;
		top: 10%;
	}

	.testimonials_slider.swiper-wrapper{

		z-index: 200;
	}

	.testimonials_slide{
		position: relative;
		z-index: 200;
	}


	.testimonials_slide{
		display: flex;
		justify-content: center;
		padding: 0;
	}

	.testimonials_picture {
		width: 50vw;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.testimonials_picture img{
		width: 70%;
		border-radius: 30%;
	}

	.testimonials_content {
/*    margin-top: 15%;
margin-bottom: 35%;*/
padding-left: calc(var(--indent) * 2);
padding-right: 15vw;
width: 50vw;
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
}


.testimonials_footer{
	display: flex;
	align-items: center;
	margin-top: 1vw;
}

.testimonials_footer > img{
	width: 12vw;
	margin: 0 1vw;
}


section.testimonials .testimonials_content h4{
	text-align: left;
	margin-top: 0;
	text-transform: capitalize;

}

.testimonials_content-line{
	width: 100%;
	margin-top: 25px;
}


.testimonials_buttons:last-child {
	margin-top: 30px;
}

.testimonials_buttons-prev{
	margin-bottom: 20px;
}

.testimonials_buttons-next{
	transform: rotate(180deg);
}

/*---------------------------------------------------*/
.beliebteste{
	display: flex;
	padding-left: var(--indent);
	padding-right: var(--indent);
	padding-top: calc(var(--indent) * 5);
	overflow-x: hidden;
}

.beliebteste_left{
	position: relative;
	margin-right: calc(var(--indent) * 2);
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.beliebteste_left:after {
	content: '';
	width: 1px;
	background-image: url(../../img/home/productorientiert_border.png);
	position: absolute;
	height: 100%;
	right: 0;
	top: 0;
	background-repeat: no-repeat;
	background-size: cover;
}


.beliebteste_left-item:first-child{
	padding-right: calc(var(--indent) * 4);
	padding-top: var(--indent);

	border-bottom: 1px solid var(--white);
}

.beliebteste_left-item:last-child{
	display: flex;
	align-items: flex-end;
	margin-left: var(--indent);
	margin-bottom: calc(var(--indent) * 2);
}

.beliebteste_slider {
	margin: calc(var(--indent) * 2) 0;
}

.beliebteste_slider-slide{
	margin-right: calc(var(--indent) * 2);
}

.beliebteste_slider  .beliebteste_slider-slide > a > img{
	width: 70%;
	margin: 0 auto;
}

.beliebteste_slider-slide h4{
	margin:1vw 0 1.5vw 0;
}

.beliebteste_slider-slide > p{
	text-align: center;
}

.beliebteste_contrainer{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.beliebteste_contrainer-button{
	display: flex;
	align-items: center;
}

.beliebteste_contrainer-price{
	font-size: calc(var(--h3) + .4vw);
	color: var(--white);
	font-weight: 400;
	/*margin: 1vw 0;*/
}

.beliebteste_contrainer-button{
	cursor: pointer;
}

.beliebteste_contrainer-button p{
	white-space: nowrap;
	text-transform: uppercase;
	margin-right: .8vw;
}

.beliebteste_contrainer-button .small-square-button img{
	width: 1.5vw;
}

/*---------------------------------------------------------*/
section.answer{
	margin-top: calc(var(--indent) * 5);
	margin-bottom: calc(var(--indent) * 5);
}

.answer h2{
	margin-bottom: calc(var(--indent) * 3);
}

.answer_content{
	display: flex;
	justify-content: space-around;
	padding:  calc(var(--indent) * 1.5) 0   calc(var(--indent) * 2.5) 0;
	margin: 0 var(--indent);
	border-top: 1px solid rgba(255,255,255,.22);
	border-bottom: 1px solid rgba(255,255,255,.22);
}

.answer_content-item{
	display: grid;
	/*flex-direction: column;
	align-items: center;*/

}

.answer_content-item > div{
	display: flex;
	align-items: center;
	justify-content: center;
}

.answer_content-item > div > div{
	clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
	background: var(--white);
	padding:1vw;
}

.answer_content-item h3{
	margin-bottom: 0;
}

/*---------------------------------------------------*/
@media screen and (max-width:  1300px){
	.home_navigation{
		top: 45vh;
		right: -12vw;
	}
}


@media screen and (max-width: 1100px){
	.home_navigation {
		top: 35vh;
		right: -15vw;
	}
}



@media screen and (max-width: 900px){

	.home_slide-picture div{
		top: 2vw;
	}

	.home_slide-picture img:last-child {
		bottom: 6vw;
		left: 8vw;
		width: 23vw;
	}

	.home_progressbar-container {
		width: 30vh;
	}

}


@media screen and (max-width: 768px){
	.anchor{
		display: none;
	}

	.home_slider-slide {
		display: flex;
		flex-direction: column;
		position: relative;
		top: 0;
	}

	.home_slide-picture{
		order: 1;
		padding: calc(var(--indent) * 6) calc(var(--indent) * 5) 0 calc(var(--indent) * 5);
	}

	.home_slide-content{
		order: 2;
	}

	.home_slide-picture{
		padding: 0;
		margin-top: calc(var(--indent) * 3);

	}

	.home_slide-button{
		order: 3;
	}

	.home_slide-picture img:first-child {
		width: 100vw;
		margin-left: 0;
	}

	.home_slide-picture img:last-child {
		bottom: 10vw;
		left: 25vw;
		width: 40vw;
	}

	.home_slide-content {
		padding: calc(var(--indent) * 1) var(--indent) 0 var(--indent);
	}

	.home_slider-slide h1{
		margin-bottom: calc(var(--indent) * 1.5);
	}

	.home_fraction {
		font-size: calc(var(--h4));
		bottom: -1px;
	}

	.home_progressbar-container {
		width: 25vh;
		margin: 0 2vw;
	}



	.home_navigation .swiper-pagination-progressbar:before, .home_navigation .swiper-pagination-progressbar:after {
		width: 2px;
		height: 20px;
		left: -2px;
		top: -10px;
	}

	.home_navigation .swiper-pagination-progressbar:after{
		left: auto;
		right: -2px;
	}

	.home_navigation {
		top: 40vh;
		right: -23vw;
	}

	.home_navigation-buttons {
		margin-left: 5vw;
	}

	.home_navigation-prev{
		margin-left: -2vw;
	}

	.home_slide-button{
		margin-top: calc(var(--indent) * 2);
	}

	section.productsentiert{
		margin-top: calc(var(--indent) * 4);
		padding: 0;
	}

	.productsentiert_picture{
		width: 100vw;
		display: flex;
		justify-content: center;
	}

	.productsentiert_picture:before {
		display: none;
	}


	.productsentiert_container:before {
		content: "";
		position: absolute;
		background-image: url(../../img/home/productorientiert_line.png);
		background-position: center 14vw;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		left: 0;
		background-size: 90vw 15vw;
	}

	.productsentiert_container-item {
		display: flex;
		justify-content: center;
		/*width: 100vw;*/
	}
	.productsentiert_container-item:before{
		display: none;
	}

	.productsentiert_container-item img {
		width: 35vw!important;
	}

	section.productsentiert .owl-nav,
	section.zustandsorientiert .owl-nav,
	section.el_blog .owl-nav,
	section.beliebteste .owl-nav,
	section.answer .owl-nav{
		position: absolute;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		top: 16.2vw;
		padding: 0 9vw;
		box-sizing: border-box;
	}

	section.el_blog .owl-nav{
		top: 30vw;
	}

	section.beliebteste .owl-nav{
		top: 40vw;
		padding: 0 1vw;
	}

	section.answer .owl-nav{
		top: 18vw;
	}
	

	section.productsentiert .owl-nav button ,
	section.zustandsorientiert .owl-nav button,
	section.el_blog .owl-nav button,
	section.beliebteste .owl-nav button,
	section.answer .owl-nav button{
		display: flex;
		align-items: center;
		height: 10vw;
		width: 10vw;
	}



	section.productsentiert .owl-nav button:last-child,
	section.zustandsorientiert .owl-nav button:last-child,
	section.el_blog .owl-nav button:last-child,
	section.beliebteste .owl-nav button:last-child,
	section.answer .owl-nav button:last-child{
		justify-content: flex-end;
	}




	section.productsentiert div.owl-nav button > img,
	section.zustandsorientiert div.owl-nav button > img,
	section.el_blog div.owl-nav button > img,
	section.beliebteste div.owl-nav button > img
	{
		width: 5vw;
	}

	section.answer .owl-nav button img{
		width: 6vw;
	}

	section.productsentiert .owl-nav .productsentiert_navigation-prev ,
	section.zustandsorientiert .owl-nav .productsentiert_navigation-prev,
	section.el_blog .owl-nav .productsentiert_navigation-prev,
	section.beliebteste .owl-nav .productsentiert_navigation-prev,
	section.answer .owl-nav .productsentiert_navigation-prev{
		transform: rotate(-180deg);
	}


	section.zustandsorientiert > h2,
	section.el_blog > h2{
		margin: calc(var(--indent) * 4) 0 calc(var(--indent) * 2) 0;
	}

	.zustandsorientiert_slider-item ,
	.el_blog_slider-item{
		margin-right: 0;
		width: 70vw;
		margin: 0 auto;
	}

	.zustandsorientiert_slider-item img,
	.el_blog_slider-item img {
		border-radius: 12vw;
	}


	.el_blog_slider-item .blog_button > a {
		padding: 2vw 3vw;
		border-radius: 5vw;
	}

	.el_blog_slider-item .blog_arrow {
		width: 6vw!important;
		margin: 0 auto;
		margin-top: 5vw;
		margin-bottom:calc(var(--indent) * 2.5) ;
	}



	section.testimonials h2 {
		margin: calc(var(--indent) * 2.5) 0 calc(var(--indent) * 2) 0;
	}


	.testimonials_slide {
		flex-direction: column;
	}

	.testimonials_picture {
		width: 100vw;
		justify-content: center;
	}

	.testimonials_picture img {
		width: 70%;
		border-radius: 20vw;
	}

	.testimonials_content {
		padding: 0 calc(var(--indent) * 1);
		width: 100%;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	section.testimonials  {
		background: rgba(46,53,66,.3);
		/*backdrop-filter: blur(4px);*/
	}

	section.testimonials .testimonials_content h4 {
		text-align: center;
		margin: calc(var(--indent) * 2.2) 0 calc(var(--indent) * 2) 0;
	}

	.testimonials_content > p{
		margin-top: 0;
	}

	.testimonials_content-line{
		margin-top: calc(var(--indent) * 2);
	}

	.testimonials_footer{
		margin: calc(var(--indent) * 2.5) 0 calc(var(--indent) * 1.5) 0;
		justify-content: space-around;
	}

	.testimonials_footer > img {
		width: 35vw;
		margin: 0;
	}

	.testimonials_container-line{
		display: none;
	}


	section.beliebteste {
		flex-direction: column;
		padding-top: calc(var(--indent) * 2);
	}

	.beliebteste_left{
		margin-right: 0;
		grid-template-rows: 1fr;
	}

	.beliebteste_left-item:first-child {
		padding-right: 0;
		padding-top: 0;
		border-bottom: none;
	}

	.beliebteste_left:after{
		background-image: none;
	}

	.beliebteste_left-item:last-child {
		justify-content: center;
		align-items: flex-end;
		margin-left: 0;
		margin-bottom: 0;
		margin-top: calc(var(--indent) * 3);
	}

	.beliebteste_slider {
		margin: 0; 
	}

	.beliebteste_slider-slide {
		margin-right: 0;
	}

	.beliebteste_slider .beliebteste_slider-slide > a > img {
		width: 60%;
		margin-top: var(--indent);
	}

	.beliebteste_slider-slide > a > p{
		margin-top: var(--indent);
		text-align: center;
	}

	.beliebteste_contrainer {
		justify-content: space-between;
		padding: 0 var(--indent);
	}

	.beliebteste_contrainer-button .small-square-button img {
		width: 5vw;
	}

	.beliebteste_contrainer-button p {
		margin-right: var(--indent);
	}

	.beliebteste_contrainer-price{
		font-weight: 700;
	}

	section.answer{
		margin-bottom: 0;
	}

	section.answer h2 {
		margin-bottom: calc(var(--indent) * 2.5);
		margin-top: 0;
	}

	.answer_content {
		padding: calc(var(--indent) * 2.5) 0 calc(var(--indent) * 3.5) 0;
		margin: 0 ;
		border-bottom: none;
	}

	.answer_content-item > div > div{
		padding: 5vw;
	}

	body .answer_content-item > h3{
		font-size: var(--h4);
	}

}


@media screen and (max-width: 600px){
	.home_navigation {
		top: 35vh;
		right: -25vw;
	}

}



@media screen and (max-width: 500px){
	.home_navigation {
		top: 35vh;
		right: -30vw;
	}

}

@media screen and (max-width: 400px){
	.home_progressbar-container {
		width: 17vh;

	}

	.home_navigation {
		top: 30vh;
		right: -27vw;
	}
}
