section.productPage{
	margin-top: calc(var(--indent) * 3);
	position: relative;
	z-index: 300;
}

.productPage_back {
    padding-right: var(--indent);
    transform: rotate(-180deg);
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1vw;
}

.productPage_container{
	display: flex;
	/*grid-template-columns: 1fr 1.5fr;*/
	/*padding: 0  0 ;*/
}

.productPage_container-picture{
	flex: 1;
	padding: 0 calc(var(--indent) * 3) 0 calc(var(--indent) * 5);
}

.productPage_container-picture img{
	width: 100%;
}

.productPage_container-content{
	flex: 1.5;
	padding-right: calc(var(--indent) * 7);
}

.product_navigation{
	display: flex;
	margin-top: var(--indent);
}

.product_navigation > div:first-child{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 3vw;
}

.product_navigation-price{
	margin-top: .5vw;
}

.product_navigation .product_number{
	background: rgba(255,255,255, .1);
	border-radius: 2vw;
	padding: .3vw .5vw;
}

section.productPage .productPage_container-content h2{
	text-align: left;
	margin-top: 1vw;
}

.productPage_container-content p{
	width: 80%;
}




section.description{
	margin:calc(var(--indent) * 5) var(--indent) 0 var(--indent);
	padding:calc(var(--indent) * 2) calc(var(--indent) * 1.2) ;
	background: var(--white);
	background-image: url(../../img/shop/description_background.png);
	border-radius: 2vw;
	position: relative;

    overflow-x: inherit;
}

.description:before{
	content: "";
	position: absolute;
	display: block;
	border-radius: 2vw;
	background: var(--white);
	opacity: .4;
	z-index: -200;
	width: 90%;
	height: 50%;
	top: -1.2vw;
	left: 5%;
}

.description:after{
	content: "";
	position: absolute;
	display: block;
	border-radius: 2vw;
	background: var(--white);
	opacity: .2;
	z-index: -100;
	width: 86%;
	height: 50%;
	top: -2.2vw;
	left: 7%;
}	

.description_header{
	display: flex;
	justify-content: space-between;
}


.description_header-item h3{
	color: var(--text_black);
	font-weight: 500;
	margin-top: 0;
	cursor: pointer;
}

body .description_header-disable h3{
	font-weight: 900;
}


.description_content{
	z-index: 300;
}


.description_content-item .scroll_text{
	height: 50vh;
    direction: ltr;
    padding-left: 0;
    padding-right: var(--indent);
}

body .description_content-item p{
	margin-top: 0;
	margin-bottom: calc(var(--indent) * .8);
	color: var(--product_black);
}

body .description_content-item h4{
	font-weight: 400;
	color: var(--product_black);
	text-align: left;
}



/*.description_content-visual{
	display: flex;
	justify-content: center;
}
*/
.description_content iframe, .description_content img{
	display: block;
	width: 70vw;
	height: 35vw;
	margin: calc(var(--indent) * 1.5) auto 0 auto;
	border-radius: 1vw;
}

.description_content img{
	object-fit: cover;
}



.additional > .additional_title{
	text-align: center;
	padding-top: calc(var(--indent) * 4);
	padding-bottom: var(--indent);
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}



@media screen and (max-width: 768px){

	section.productPage .productPage_container-content h2 {
	    text-align: left;
	    margin-top: calc(var(--indent) * 2);
	}

	section.productPage{
		margin-top: 0;
	}

	.productPage_back {
	    margin-top: calc(var(--indent) * 6)!important;
	}

	.productPage_container{
		flex-direction: column;
	}

	.productPage_container-content {
	    flex: 1;
	    order: 1;
	    padding:0 var(--indent);
	}

	.productPage_container-content p {
	    width: 100%;
	}

	.product_navigation {
	    display: flex;
	    margin-top: calc(var(--indent) * 2);
	    flex-direction: column;
	    align-items: center;
	}

	.product_navigation > div:first-child {
	    align-items: center;
	}

	.product_navigation-price {
	    margin-top: 0;
	    margin-bottom: calc(var(--indent) * .5);
	}

	.product_navigation .product_number {
	    border-radius: 3vw;
	    padding: 0.5vw 2vw;
	}

	.productPage_options{
		display: flex;
		justify-content: space-between;
		margin-top: calc(var(--indent) * 2);
		width: 100%;
	}

	.productPage_options > div:last-child{
		margin-right: var(--indent);
	}


	section.description{
		border-radius: 12vw;
	}


	.description_content-item .scroll_text {
	    height: auto;
	    overflow-y: clip;
	}



	.description_header {
		flex-direction: column;
		margin-bottom: calc(var(--indent) * 1.5);
	}

	.description_header-item h3{
		margin-bottom: 0;
	}

	.description:before,
	.description:after{
		display: none;
	}

	.description_header-item:first-child{
		order: 2;
	}

	.description_header-item:nth-child(2){
		order: 3;
	}

	.description_header-item:last-child{
		order: 1;
	}


	.description_content iframe, .description_content img{
		border-radius: 12vw;
		    width: 100%;
   		 height: 40vw;
	}



	#additional .products{
		display: block;
		position: relative;
	}

	#additional .products .owl-stage{
		display: flex;
	}

	#additional .products_item:after{
		display: none;
	}

	#additional .owl-nav{
		position: absolute;
		width: 100%;
		top: 25%;
		display: flex;
		justify-content: space-between;
		padding: 0 var(--indent);
		box-sizing: border-box;
	}


	 #additional .owl-nav > button{
	    background: none;
	    border: none;
	}

	#additional .owl-nav > button.owl-prev{
		transform: rotate(180deg);
	}

	 #additional .owl-nav > button > img{
	 	width: 4vw;
	 }




	

}

