footer.footer{
	position: relative;
	background: var(--black-background);
	color: var(--white);
	padding-top:var(--m-top) ;
}

.footer_support , .footer_ma{
	padding: 0 var(--m-left);

}

.footer_support, .footer_map, .footer_navigation{
	position: relative;
	z-index: 200;
}


.footer_ovehead, footer .overhead{
	text-transform: uppercase;
	color: var(--light-gray);
}

.footer_ovehead{
	line-height: 25px;
	font-weight:900;
}

.footer_support {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 25px;
}

.footer_support-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer_support-info h2{
	color: var(--white);
}

.footer_support-info .footer_ovehead{
	margin-top: 40px;
}

.footer_support-info .footer_heading{
	margin-top: 15px;
	font-weight: 900;
	display: flex;
    justify-content: flex-start;
}

.footer_support-info .footer_heading p{
	color: var(--white);
}

.footer_additionaly{
	border: 1px solid var(--gray);
	color: var(--light-gray);
	padding: 15px 10px;
	margin-top: 60px;
	box-sizing: border-box;
}

.footer_support-form{
	padding: 20px 3px 20px 15px;
	border: 1px solid var(--gray);
	background: var(--black-background);
	border-left: none;
}

 .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form_item {
	display: flex;
    flex-direction: column;
}

.form_item input {
	font-size: calc(var(--small-text) - 2px);
	outline: none;
    color: var(--light-gray);
    background: var(--background-form-input);
   	border: none;
   	border-bottom: 1px solid var(--gray);
   	margin-bottom: 15px;
    padding: 10px 5px 10px 15px;
}

.form_item input:last-child{
	margin-bottom: 0;
}

.form_item input::-webkit-input-placeholder {color: var(--light-gray);text-transform: uppercase; }
.form_item input:-ms-input-placeholder { color: var(--light-gray);text-transform: uppercase; }
.form_item input::-ms-input-placeholder { color: var(--light-gray);text-transform: uppercase; }
.form_item input::placeholder { color: var(--light-gray);text-transform: uppercase; } 


.form_item input[type="submit"]{
	text-transform: uppercase;
	text-align: left;
	cursor: pointer;
	margin-bottom: 8px;
	border-bottom: none;
}

.form_item input[type="submit"]:hover{
    color : var(--black-background-form);
    background: var(--orange);	

}

.form textarea{
	font-size: calc(var(--small-text) - 2px);
	height: 100%;
	color: var(--white);
    background: var(--background-form-input);
	padding: 10px 15px;
	margin-left: 15px;
	outline: none;
	border: none;
   	border-bottom: 1px solid var(--gray);
   	resize: none;
}

.form_item textarea::-webkit-input-placeholder { color: var(--light-gray);text-transform: uppercase; }
.form_item textarea:-ms-input-placeholder { color: var(--light-gray);text-transform: uppercase; }
.form_item textarea::-ms-input-placeholder { color: var(--light-gray);text-transform: uppercase; }
.form_item textarea::placeholder { color: var(--light-gray);text-transform: uppercase; } 



.form_item:nth-child(3){
	margin-top: 30px;
}

.form_item:nth-child(3) p{
	color: var(--light-gray);
	margin-bottom: 5px;
}

.form_item:nth-child(4){
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.form_item:nth-child(4) .addInfo{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_item:nth-child(4) .addInfo-image{
	margin-bottom: 20px;
}

.form_item:nth-child(4) .addInfo h3{
	text-align: center;
}

.footer_map{
	padding:0 var(--m-left) 20px var(--m-left) ;
}

.footer_map iframe{
	height: 400px;
	width: 100%;	
}

.footer_navigation{
	display: grid;
	grid-template-columns: 2fr 2fr 1fr 2fr;
	background: var(--black-footer);
}

.footer_navigation > div{
	border-right: 1px solid var(--gray);
}

.footer_navigation-services , .footer_navigation-important{
	padding: var(--m-left);
}

.footer_navigation h3, .footer_navigation li, .footer_navigation p{
	color: var(--light-gray);
}

.footer_navigation h3 {
	margin-bottom: var(--m-left);
}

.footer_navigation li{
	font-size: var(--small-text);
	line-height: 20px;
}

.footer_navigation-first {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.footer_navigation-first > div:first-child{
	border-bottom: 1px solid var(--gray);
}

.footer_navigation-first > div:last-child{
	padding: 10px 0;
}


.footer_navigation-first .logo{
	justify-content: flex-start;
	margin-top: 0;
	padding: calc(var(--m-left) - 5px) 0 0 var(--m-left);
}

.footer_navigation-first .logo p{
	color: var(--orange);
}

.footer_navigation-first .small-text{
	padding: calc(var(--m-left) - 17px)  0 calc(var(--m-left) - 17px) var(--m-left);
}

.footer_navigation-first > div:last-child{
	padding: calc(var(--m-left) - 20px)  0 calc(var(--m-left) - 20px) var(--m-left);
}


.footer_navigation-services{
	padding-right: 0;
}

.footer_navigation-services > div{
	display: flex;
}

.footer_navigation-services ul:first-child{
	margin-right: var(--m-left)
}

.footer_navigation-services ul:last-child{
	margin-right: var(--m-left)
}

.footer_navigation-contacts div:first-child{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: var(--m-left);
	border-bottom: 1px solid var(--gray);
}

.footer_navigation-contacts h3{
	text-transform: uppercase;
	margin-bottom: 0;
}

.footer_navigation-contacts h3:first-child{
	margin-bottom: calc(var(--m-left) - 10px);
}

.footer_navigation-contacts ul{
	display: flex;
	align-items: center;
}

.footer_navigation-contacts li{
	padding: var(--m-left);
}

.footer_navigation-contacts div:last-child{
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer_bottom{
	position: relative;
	z-index: 300;
	display: flex;
	justify-content: center;
	color: var(--light-gray);
	border-top: 1px solid var(--gray);
	background: var(--black-footer);
	padding: calc(var(--m-left) - 15px) 0;
}


@media screen and (max-width: 1600px){
	.form_item:nth-child(4) .addInfo-image {
		width: calc(var(--m-left) * 2.5);
    	height: calc(var(--m-left) * 2.5);
	    margin-bottom: 15px;
	}

	.addInfo-image img {
	    width: calc(var(--m-left) / 1.4);
	}

}

@media screen and (max-width: 1300px){
	.form_item:nth-child(4) .addInfo-image {
		width: calc(var(--m-left) * 3);
    	height: calc(var(--m-left) * 3);
	    margin-bottom: 15px;
	}

	.addInfo-image img {
	    width: calc(var(--m-left) / 1.2);
	}


}



@media screen and (max-width: 970px){
	.form_item:nth-child(4) .addInfo-image {
		width: calc(var(--m-left) * 3.3);
    	height: calc(var(--m-left) * 3.3);
	    margin-bottom: 15px;
	}

	.addInfo-image img {
	    width: calc(var(--m-left) / 1.1);
	}

	.form {
	    display: grid;
	    grid-template-columns: 2fr 3fr;
	}
}


@media screen and (max-width: 840px){
	.footer_navigation-contacts div:first-child{
		padding-left: 0;
	}
}