header{
	position: fixed;
	z-index: 500;
	display: flex;
	align-items: baseline;
	width: 100%;
	/*padding-top: var(--heedar-m-top);*/
}
header > div{
	flex: 1;
}


/*menu*/
nav.menu{
	background: var(--white);
	margin-left: var(--m-left);
	margin-right: 1px;
	width: auto;
	padding:0 10px;

}

.menu_header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.menu_current{
	text-transform: uppercase;
	font-size: 13px;
	padding: 10px 0;
}

.menu_icon img{
	margin-left: 10px;
}

.menu_body{
	background: var(--white);
	padding-bottom: 1px;
}

.menu_body li{
	position: relative;
	text-transform: uppercase;
	/*margin-bottom: 20px;*/
	padding: calc(var(--m-left) / 3) 0;
	font-size: var(--small-text);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu_body li:first-child img{
	transform: rotate(180deg);
	cursor: pointer;
}


.menu_body li a{
	flex: 1;
	z-index: 20;
	position: relative;
}

.sel_men_item, .menu_current{
	position: relative;
	display: flex;
	align-items: center;
}

.sel_men_item:before, .menu_current:before{
	content: '';
    width: 6px;
    height: 6px;
    background: var(--orange);
    margin-right: 7px;
    margin-bottom: 2px;
    /* display: block; */
}

.sel_men_item  a, .menu_current {
	color: var(--orange);
}


/*языки*/
.languages ul{
	display: flex;
	justify-content: center;
}
.languages li{
	text-transform: uppercase;
	margin-left: 15px;
	cursor: pointer;
}


.logo{
	display: flex;
	justify-content: center;
	text-align: center;
	text-transform: uppercase;
	color: var(--gray);
}



.logo .loga_name{
	font-family:  Oswald-Bold;
	font-weight: 600;
	font-size: 35px;
}

.logo p{
	font-size: 15px;
    margin-top: -5px;
    color: var(--orange);
}

.logo_line {
	display: flex;
	justify-content: center;
}

.logo_line >div{
	width: 96%;
	margin-top: -2px;
	height: 2px;
	background: var(--gray);
}

.reception {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}



.reception p{
	/*font-size: var(--small-text);*/
	font-size: 14px;
	color: var(--white);	
	white-space: nowrap;
}

.reception_logo{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;
	border:1px solid var(--white);
	border-radius: 50%;
	margin: 0 var(--m-right) 0 10px;
	cursor: pointer;
}

.reception_logo img{
	width: 13px;
}


/*---------------------------------------------*/
/*mobile menu*/
/*-----------------------------------------------*/
.menu_mobile{
	position: relative;
}

.menu_mobile-icon{
	margin-left: var(--m-left);
	margin-right: var(--m-left);
	width: 80px;
	height: 80px;
	/*padding: 15px;*/
	border-radius: 50%;
	border: 1px solid var(--gray);
	display: flex;
	justify-content: center;
	align-items: center;
}


.menu_mobile-icon img{
	width: 50px;
}

.menu_mobile-libs {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: var(--black-background);
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu_mobile-libs li {
    font-size: 40px;
    text-align: left;
    color: var(--hard-gray);
    text-transform: uppercase;
    line-height: 65px;
}

 .menu_mobile-libs li.mobile_check{
	color: var(--orange);
}

@media screen and (max-width: 768px){
	header {
	    display: flex;
	    align-items: flex-start;
	    width: 100%;
	    padding-top: calc(var(--m-left) - 5px) ;
	}

	header .navigation{
		display: flex; 
	}

	header .logo{
		justify-content: flex-start;
	}

	header .logo > div {
	    display: flex;
	    flex-direction: column;
	    align-items: flex-start;
	}

	header .logo .loga_name {
	    font-size: 35px;
	    line-height: 45px;
	    padding-top: 10px;
	}

	header .logo p {
	    font-size: 12px;
	    margin-top: -10header .logo .loga_name {
    font-size: 30px;
    line-height: 45px;
}px;
	    text-align: left;
	    border-bottom: 1px solid var(--gray);
	    white-space: nowrap;
	}

	header .logo_line{
		display: none;
	}


	header .reception_logo {
	    width: 80px;
	    height: 80px;
	    border: 1px solid var(--gray);
	}

	header .reception_logo img {
	    width: 35px;
	}
}




@media screen and (max-width: 650px){
	.menu_mobile-icon, header .reception_logo {
	    width: 60px;
	    height: 60px;
	}

	.menu_mobile-icon img{
		width: 30px;
	}

	header .reception_logo img {
	    width: 30px;
	}

	header .logo .loga_name {
	    font-size: 30px;
	    line-height: 32px;
	}

	header .logo p {
	    font-size: 10px;
	}


}



@media screen and (max-width: 420px){
	header {
	    padding-top: calc(var(--m-left) - 10px) ;
	}

	.menu_mobile-icon, header .reception_logo {
	    width: 45px;
	    height: 45px;
	}

	.menu_mobile-icon img{
		width: 25px;
	}

	header .reception_logo img {
	    width: 23px;
	}

	header .logo .loga_name {
	    font-size: 20px;
	    line-height: 38px;
    	padding-top: 0px;
	}

	header .logo p {
	    font-size: 8px;
	    margin-top: -10px;
	}
}