
.form input, .form button{
	background: rgba(0,0,0,0);
	border:none;
	text-align: center;
	margin-bottom: calc(var(--indent) * 1) ;
    width: 50vw;
    text-align: center;
    display: flex;
    justify-content: center;
}

.form input {
    display: block;
    font-size: calc(var(--text) + 5px);
    color: var(--white);
    text-transform: uppercase;
    border-bottom: 1px solid var(--white);
    padding-bottom: calc(var(--indent) / 2.5);
    font-weight: 700;
    outline: none;
}

.form input::placeholder{
    color:  var(--formWhite);
}

.form button{
	margin:  calc(var(--indent) * 1.5) 0;
}

.form .star_blue {
    width: calc(var(--satar_size) + 10px);
    height: calc(var(--satar_size) + 10px);
}

.form .star_blue-text span{
    font-size: calc(var(--text) - 2px);
}

.form_container{
    display: flex;
    align-items: flex-start;
}

.form_container > input:first-child{
    flex: 2;
}

.form_container > input:last-child{
    flex: 1;
    margin-left: 10px;
}

.order_form-choise{
    margin-bottom: calc(var(--indent) * 2);
}

.order_form-choise ul{
    font-style: var(--h3);
    display: flex;
    align-items: center;
}

.order_form-choise li {
    text-transform: uppercase;
    font-size: var(--h3);
    border-left: 1px solid var(--white);
    color: var(--white);
    cursor: pointer;
    padding: var(--header_pop_up_li_padding);
}

.order_form-choise li:first-child{
    border-left: none;
    padding-left: 0;
}


.agreement_container{
    display: flex;
    align-items: flex-end;
}

.agreement > div{

}

.agreement input{
    width: var(--indent);
    height: var(--indent);
    border: 1px solid;
    margin: 0 auto;
    background: red;

}

.agreement input:checked{
    background: green;
}

.agreement input:before{
    background: red;

}

.agreement input:after{
    background: red;
    
}

.agreement p{
    text-align: center;
    color: var(--white);
}


@media screen and (max-width: 1400px){
    .form input{
        margin-bottom: calc(var(--indent) * 1.2);
        padding-bottom: calc(var(--indent) / 2.5);

    }

}

@media screen and (max-width: 1150px){
   .form input {
        margin-bottom: calc(var(--indent) * 1.8);
        padding-bottom: calc(var(--indent) / 2.1);
    }
     
}



@media screen and (max-width: 768px){
    .form {
        width: 100%;
    }

    .form input {
        width: 100%;
    }

    .form input {
        /*font-size: calc(var(--text) + 8px);*/
        padding-bottom: calc(var(--indent) * .8);
        margin-bottom: calc(var(--indent) * 1.5);
    }

    #logIn_form input:first-child{
       margin-top: calc(var(--indent) * 2);
    }

    .form button {
        margin: calc(var(--indent) * 1.5) 0;
        width: 100%;
    }

}

