.header {
  position: relative;
  z-index: var(--zIndex_header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--indent) / 2) var(--indent);
  /*margin: calc(var(--indent) / 2) var(--indent);*/
  box-sizing: border-box;
 
}

.header > div{
 
}

.header ul {
  display: flex;
}

.header li {
  text-transform: uppercase;
  font-size: var(--h3);  
  padding: 2px 15px;
  border-left: 1px solid;
}
.header li:first-child {
  border-left: none;
}
.header li:last-child {
  padding-right: 0;
}

.header li:hover a {
  color: #155fb6;
}


.header_popUp{
  padding-bottom: 0;
}

.header_popUp li {
    text-transform: uppercase;
    font-size: var(--h3);
    padding: var(--header_pop_up_li_padding);
    border-left: 1px solid var(--white);
    margin: auto;
    color: var(--white);
    cursor: pointer;
}

.header_popUp li:first-child{
  border-left: none;
}


.header_popUp li:last-child a{
    opacity: 0.2;
}

.header_popUp li:hover a{
    opacity: 1;
}

.header_mobile{
  padding: calc(var(--indent) * 1.5) 0;
  background: var(--white);
}

.header_mobile ul{
    display: flex;
    justify-content: center;
}

.header_mobile li {
    padding: calc(var(--indent) / 2) calc(var(--indent) * .8);
    font-size: calc(var(--text) + 2px);
    text-transform: uppercase;
    border-left: 1px solid var(--black);
}

.header_mobile li:first-child{
    border-left: none;
}

.header_mobile li:hover{
  color: var(--blue);
}


@media screen and (max-width: 768px){
  .header {
    padding: calc(var(--indent) * .8) var(--indent);
    align-items: center;
    width: 100%;
  }

  .header .header_contact li{
    font-size: calc(var(--h3) - 5px);
  }


  .header_logo img{
    width: calc(var(--closeWidth) + 5vw);
  }

  .header_menu{
    display: none;
  }

  .header_popUp .header_contact{
    width: calc(50% + var(--closeWidth) - var(--indent));
  }

  .header_popUp .header_contact li{
    font-size: calc(var(--h3));
  }


  .header_popUp ul {
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .header_popUp li {
    padding: 0;
    border-left: 0;
    margin: 0;
  }

  .header_popUp li img{
    width: var(--closeWidth);
  }
}
@media screen and (max-width: 450px){
    .header_mobile li {
      padding: calc(var(--indent) * .3) calc(var(--indent) * .5);
    }
}