.body_order{
	background-color: var(--background_black);
    background-image: url(../img/background_grain.png);
    height: 100vh;
    /*overflow-y: hidden;*/
}

.oreder_page-count{
	color: var(--blue);
}

.oreder{
	padding: var(--indent);
	padding-top:0;

}

.oreder_header{
	color: var(--white);
	margin: var(--indent);
}

.oreder_header .oreder_page {
	display: flex;
}

.oreder_body{
	display: flex;
}


/* хром, сафари */
.body_order::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.body_order { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.body_order { overflow: -moz-scrollbars-none; }

.oreder_body > div{
	overflow-x: hidden;
}

.oreder_body-catr{
	flex: 3;
	padding-right: var(--indent);
}


.oreder_body-catr::-webkit-scrollbar { width: 3px; height: 3px; border-radius: 2px;}
.oreder_body-catr::-webkit-scrollbar-track-piece { background-color: var(--scrill_bar);}
.oreder_body-catr::-webkit-scrollbar-thumb { height: 50px; background-color: var(--blue);; border-radius: 3px;}

/*.oreder_body-catr::-webkit-scrollbar-button {  background-color: #666; }*/
/*.oreder_body-catr::-webkit-scrollbar-track {  background-color: #999;}*/
/*.oreder_body-catr::-webkit-scrollbar-corner { background-color: #999;}}*/
/*.oreder_body-catr::-webkit-resizer { background-color: #666;}*/


.oreder_body-catr .cart_products-item:first-child{
	margin-top: 0;
}

.oreder_body-form{
	flex: 5;
	display: flex;
	justify-content: center;
	padding: var(--indent) var(--indent) 0 calc(var(--indent) * 2);
}

.order_form {
    width: 100%;
}

.order_form input , .order_form{
	width: 100%;
}

.order_form button{
	margin-top: calc(var(--indent) * 3);
	margin-bottom: 0;
	width: 100%;
}

.order_form .star_blue-text span:before,
.order_form .star_blue-text span:after{
	background-size: 60%;
}

.oreder_body-text{
	flex: 3;
    padding-top: var(--indent);
    padding-left: var(--indent);
}

.oreder_body-text p{
    color: var(--white);
}